/* Custom Fonts */
@font-face {
    font-family: Didot Regular;
    src: url('Fonts/Didot-Regular.ttf');
}
@font-face {
    font-family: Roboto Medium;
    src: url('Fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: Roboto Regular;
    src: url('Fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto Thin;
    src: url('Fonts/Roboto-Thin.ttf');
}
* {
    margin: 0;
    padding: 0;
    background-color: black;

}

.header{
    width: fill;
    height: 55px;
    display: flex;
    padding: 15px 30px 0px 30px;
    align-items: center;
}

.header .split-color-heading {
    color: #8AFFCF;
    font-family: 'Didot Regular';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    flex-basis: 15%;
}

.header .second-color {
    color: #FFF;
}

.categories {
    display: inline-flex;
    align-items: flex-start;
    gap: 42px;
    color: #FFFFFF;
    font-family: 'Roboto Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    flex-basis: 100%;
    justify-content: center;
}

/* Image Gallery with Navigator */

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .image {
    flex: 0 0 33.33%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  
  .navigator {
    display: flex;
    z-index: 1;
    justify-content: center; /* Center horizontally */
    align-items: center;
    width: 55px;
    padding: 10px;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    gap: 5px;
  }
  
  .nav-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    
  }