/* Custom Fonts */
@font-face {
    font-family: Didot Regular;
    src: url('Fonts/Didot-Regular.ttf');
}
@font-face {
    font-family: DIN Next;
    src: url('Fonts/DINNextW1G-Regular.otf');
}
@font-face {
    font-family: Roboto Medium;
    src: url('Fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: Roboto Regular;
    src: url('Fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto Thin;
    src: url('Fonts/Roboto-Thin.ttf');
}
* {
    margin: 0;
    padding: 0;
    background-color: black;

}

/* CSS for the hamburger icon button */
.hamburger {
    display: none; /* Initially hidden on larger screens */
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #8AFFCF;
    margin: 6px 0;
}

.caption {
    font-style: italic;
    color: white;
    font-family: DIN Next;
    font-size: 16px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

/* CSS for the navigation panel */
#navPanel {
    width: 200px;
    height: auto;
    background-color: black;
    position: fixed;
    top: 0;
    right: -200px; /* Initially hidden off-screen */
    transition: right 0.3s ease;
}

#navPanel ul {
    list-style-type: none;
    padding: 0;
}

#navPanel ul li {
    padding: 10px;
    text-align: center;
    font-family: DIN Next;
}

#navPanel ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.header{
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top */
    left: 0;
    width: 100%;
    height: 55px;
    display: flex;
    padding: 15px 30px 0px 30px;
    align-items: center;
    z-index: 1000; /* Set a high z-index value to ensure it's on top */
}

.header .split-color-heading {
    color: #8AFFCF;
    font-family: 'Didot Regular';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-basis: 15%;
}

.header .second-color {
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
}

.content a {
    color:#8AFFCF;
}

.categories {
    display: inline-flex;
    align-items: flex-start;
    gap: 42px;
    color: white;
    font-family: 'DIN Next';
    font-size: 16px;
    line-height: normal;
    flex-basis: 100%;
    justify-content: center;
}


#slideshow {
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.poster img {
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.content {
    margin: 0px auto 0;
    padding: 0;
    font-family: 'DIN Next';
    font-size: 22px;
    width: 60%;
}

.block {
    display: flex; /* Use flexbox for layout */
    flex-direction: column;
    flex-wrap: wrap; /* Allow columns to wrap to the next row on smaller screens */
    padding: 20px;
    margin-bottom: 20px;
}

.text-container {
    padding: 20px; /* Add some padding for spacing */
    align-items: center;
    color: white;
    line-height: 1.5;
}

.text-container h1 {
    font-family: 'Didot Regular';
    margin-top: 10px;
    margin-bottom: 0;
    color: #8AFFCF;
}
  
.block img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Fill the container while maintaining aspect ratio */
    
}

#data-image {
    width: 50%;
}

video {
    width: 100%; /* Set the video's width to 100% of its container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}

.big-caption {
    font-family: 'Didot Regular';
    font-size: 25px;
    color: #8AFFCF;
    text-align: center;
    padding: 10px;
}

strong {
    color: #8AFFCF;
}

button {
    width:150px;
    height: 50px;
    background-color: #8AFFCF;
    border-radius: 10px;
    font-family: DIN Next;
    border: none;
    display: block;
    margin: 0 auto; /* Center horizontally */
    font-size: 18px;
}

button:hover {
    background-color:#4CAF50;
}

button a {
    text-decoration: none;
    color: black;
}

.content p {
    display: none;
}

/* CSS for the copy notification */
#copyNotification {
    display: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 10px;
    font-size: 15px;
}


/* Style for the footer */
footer {
    color: #fff;
    text-align: center;
    padding: 40px 0;
    width: 100%;
    font-family: DIN Next;
}


/* Style for social links */
.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px; /* Add spacing between social icons */
    text-decoration: none;
    color: #8AFFCF;
}

@media (min-width: 2000px) {
    .content {
        width: 45%;
        font-size: 25px;
    }
}
@media (max-width: 1100px) {
    
    body {
        width: 100%;
    }

    .categories {
        display: none;
    } 

    .block {
        padding: 0;
    }

    .hamburger {
        display: block; /* Displayed on small screens */
    }

    .header{
        padding-left: 0;
        justify-content: center; /* Center horizontally */
        display: inline-flex;
        align-items: flex-start;
        gap: 35%;
    }

    .content {
        width: 100%;
    }

    .text-container {
        font-size: 19px;
    }
}

@media (max-width: 600px) {

    body {
        width: 100%;
    }

    .text-container {
        font-size: 18px;
    }

    .content {
        width: 100%;
        padding: 0;
        
    }
}

